<div class="containerr">

    <div class="about-section">
        <h1>Contact</h1>
        <p>Dari Design furniture.</p>
        <p>Resize the browser window to see that this page is responsive by the way.</p>
    </div>
    <div class="container mt-3">
        <h2>Card Image Overlay</h2>
        <p>Turn an image into a card background and use .card-img-overlay to overlay the card's text:</p>
        <div class="card img-fluid" style="width:500px">
          <img class="card-img-top" src="../bootstrap4/img_avatar1.png" alt="Card image" style="width:100%">
          <div class="card-img-overlay">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </div>
      </div>
    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="assets\enis.jpeg" alt="Jane"  id="images">
                <div class="container">
                    <h2>Anis Allagui</h2>
                    <p class="title">Creator & Foundator</p>
                    <p>Student second year at ISET MAHDIA IT Department.</p>
                    <p>anousanisallag123.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="assets\nadhir.jpg" alt="Mike" id="images">
                <div class="container">
                    <h2>Nadhir Azaiez</h2>
                    <p class="title">Creator & Foundator</p>
                    <p>Student second year at ISET MAHDIA IT Department.</p>
                    <p>azaieznadhir@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </div>


</div>