<div class="containerone">
	<div class="f_col">
		<div class="card col-sm-4 box1">
			<p id="text">
				why we are
				best in our
				town
			</p>
			<a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
				aria-controls="collapseExample"><img src="assets\arrow.png" alt="AAAAAAAAAAAA" srcset="" id="flech"></a>

		</div>

		<div class="card col-sm-4 box2">
			<img src="assets\chairs.png" alt="" srcset="" class="images">
			<img src="assets\downloadd.png" alt="" srcset="" class="marq">
		</div>

		<div class="card col-sm-4 box3" id="alignement">
			<a href="#electro_menager"><img src="assets\law.png" alt="" srcset="" class="images"></a>  <br>
			AAAAAAAAAAAA

		</div>

		<div class="card col-sm-4 box4" id="alignement">
			<img src="assets\vasee.png" alt="" srcset="" class="images"><br>
			<a routerLink="\meuble">aaaaa</a>
			AAAAAAAAAAAA
		</div>
	</div>
</div>
<div class="collapse" id="collapseExample">
	<div class=" carte">
		<ol>
			<li>Professionalism - We are professional surfboard builders with a graphics "touch".</li>
			<li>Experienced - We understand what it takes to build a board (we do it every day) and how important the customization through artwork is.</li>
			<li>Research & Development - We use proven materials that work well with and compliment your board.  If there is a better way to do something, we are going to figure it out and enhance our offerings.</li>
			<li>core- We are not some mega graphics shop trying to cash in on the "action sports" craze.  We surf, skate, snowboard, SUP, skim, kite - just like you.</li>
			<li>Commitment- We have fun but we don't mess around.  You and your order is important to us.  We will get your job done as quickly as possible without compromising our high quality standards</li>
		</ol>

	</div>
</div>

<div id="electro_menager">
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet?
</div>




<!----------------------------spinner---------------------------->
<!-- <div class="spinner-border text-primary" role="status">
	<span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-secondary" role="status">
	<span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-success" role="status">
	<span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-danger" role="status">
	<span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-warning" role="status">
	<span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-info" role="status">
	<span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-light" role="status">
	<span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-dark" role="status">
	<span class="visually-hidden">Loading...</span>
</div>
------ --------------------navbar ------------------- -->
<!-- <nav class="navbar navbar-expand-lg bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						Dropdown
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled">Disabled</a>
				</li>
			</ul>
			<form class="d-flex" role="search">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</div>
</nav>

<br>
<body>
	<div class="containerza">
		<img src="assets\loadd.jpg" class="rotate" />
	</div>
</body> -->